<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
      <ion-title>My diary</ion-title>
    </ion-toolbar>
</ion-header>
<ion-button expand="block" fill = 'clear' (click)='show()'>
    Show All
  </ion-button>
<ion-content>
    <div *ngIf = 'diary$ | async as di'>
        <ion-card *ngFor = 'let item of di'>
                <h5> <ion-icon name="time" color = "primary"></ion-icon> {{item.datetime}}</h5>
                <ion-col>
                    <ion-img src="{{item.img}}"></ion-img>
                </ion-col>
                    
                    <h4> <ion-icon name="home" color = "primary"></ion-icon>  {{item.goto}}</h4>
                    <h5> <ion-icon name="chatboxes" color = "primary"></ion-icon>  {{item.post}} </h5>

      
          
            </ion-card>
            </div>  

